@model IEnumerable<Technician>
@{
    ViewBag.Title = "Technician Manager";
}


<h1>@ViewBag.Title</h1>

<table class="table caption-top">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>           
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Technician technician in Model) // this Model comes from index of Controller return
        {
            <tr>
                <td>@technician.Name</td>
                <td>@technician.Email</td>
                <td>@technician.Phone</td>            
                <td>
                    <a asp-action="Edit" asp-route-id="@technician.TechnicianId" type="button" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-controller="Technician" asp-action="Delete" asp-route-id="@technician.TechnicianId" type="button" class="btn btn-primary">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>

<a asp-controller="Technician" asp-action="Add" type="button" class="btn btn-primary">Add Technician</a>